video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.03);
    filter: blur(10px);
    z-index: -1;
}

.main {
    height: 100%;
    width: 100vw;
    max-height: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", "Arial", sans-serif;
    overflow: hidden;
    
    .projects {
        width: 100%;
        height: 85vh;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
    
        &::-webkit-scrollbar {
            display: none;
        }
    
        .scroll-down {
            position: absolute;
            bottom: 5rem;
            left: 50%;
            color: white;
            font-size: 1.5rem;
            text-align: center;
            animation: upAndDown 1.5s infinite ease-in-out;
        }
    }

    .about {
        width: 80%;
        max-width: 900px;
        height: 85vh;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 768px) {
            height: 100%;
            overflow: hidden;
        }

        .mobile-message {
            display: none;

            @media (max-width: 768px) {
                display: block;
                width: 100%;
                padding: 1rem;
                color: white;
                background-color: #5a4e2d;
                font-size: .8rem;
                text-align: center;
            }
        }

        .desktop-cv {
            display: none;

            @media (min-width: 769px) {
                display: block;
            }
        }
    }
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}